<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.marcosdiez.keyboard.latin"
        android:versionCode="1"
        android:versionName="1.0"
        >

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <supports-screens android:largeScreens="true"
                      android:smallScreens="true"
                      android:resizeable="true"
                      android:normalScreens="true"
                      android:xlargeScreens="true"
                      android:anyDensity="true"/>

    <application android:label="@string/app_name"
            android:icon="@drawable/ic_ime_settings"
            android:backupAgent="com.marcosdiez.keyboard.latin.BackupAgent"
            android:killAfterRestore="false"
            android:allowBackup="false"
            >

        <service android:name="com.marcosdiez.keyboard.latin.LatinIME"
                android:label="@string/morelangs_application_name"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <service android:name="com.marcosdiez.keyboard.latin.spellcheck.AndroidSpellCheckerService"
                 android:label="@string/spell_checker_service_name"
                 android:permission="android.permission.BIND_TEXT_SERVICE">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>
            <meta-data android:name="android.view.textservice.scs" android:resource="@xml/spellchecker" />
        </service>

        <activity android:name="com.marcosdiez.keyboard.latin.SettingsActivity" android:label="@string/english_ime_settings"
                  android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.marcosdiez.keyboard.latin.spellcheck.SpellCheckerSettingsActivity"
                  android:label="@string/android_spell_checker_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.marcosdiez.keyboard.latin.DebugSettingsActivity" android:label="@string/english_ime_debug_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.marcosdiez.keyboard.latin.SuggestionSpanPickedNotificationReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.text.style.SUGGESTION_PICKED" />
            </intent-filter>
        </receiver>

    <!-- WIFI KEYBOARD -->
         <activity android:name="com.volosyukivan.WiFiKeyboard"
                  android:label="@string/app_name"
                  android:clearTaskOnLaunch="true"
                  android:noHistory="true">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             -->
        </activity>
        <activity android:name="com.volosyukivan.WidgetActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoDisplay"
                  android:excludeFromRecents="true"
                  android:noHistory="true">
                <action android:name="android.intent.action.MAIN" />
        </activity>
        <activity android:name="com.volosyukivan.WidgetConfigure"
                  android:theme="@android:style/Theme.Dialog"
                  android:label="Widget configuration">
          <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
          </intent-filter>
        </activity>

        <!-- Declares the input method service -->
        <!--  // we already have one from the other keyboard

        <service android:name="com.volosyukivan.WiFiInputMethod"
            android:label="WiFiKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
        -->

        <service android:name="com.volosyukivan.HttpService"/>

        <receiver android:name="com.volosyukivan.WidgetProvider" android:label="@string/app_name">
          <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
          </intent-filter>
          <meta-data android:name="android.appwidget.provider"
                     android:resource="@xml/widget" />
        </receiver>


    </application>


</manifest>
